<h2>Chat History for <%=currentUser.zipcode%></h2>
  <style>
    .dater { font-size: 12px; }
    h2 { text-align: center; }
  </style>
<h1 class="text-center">Messages</h1>
<% if(results.length <= 0){ %>
    <h2>Nothing in the database yet!</h2>
<% } else { %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">userId</th>
        <th scope="col">Message</th>
        <th scope="col">Posted At</th>
      </tr>
    <tbody>
    <% results.forEach(function(message){ %>
        <tr>
          <th scope="row"><%= message.userId %></th>
          <td><%= message.messageText %></td>
          <td class="dater"><%= message.createdAt %></td>
        </tr>
    <% }); %>
    </tbody>
  </table>
<% } %>
