<h2>Present</h2>
  <% if (currentUser.locale === '324 University St, Seattle, WA 98101, USA') { %>
    <h1><%= currentUser.firstname %> Present at General Assembly!</h1>
  <% } else { %>
    <h1><%=  currentUser.firstname %>, at <%=currentUser.locale%></h1>
  <% } %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <link rel="stylesheet" href="/css/prof.css">
