
  <link rel="stylesheet" href="/css/prof.css">


  <h1>
    <%=  currentUser.firstname %>, at
      <%=currentUser.locale%>
  </h1>

  <div class="checkIn-page">
    <div class="row">
      <a class='present-btn' href="google.com" >
        <div class="section-content col-sm-3">
          <h2 class="page-title col-sm-12 text-center">PRESENT ?</h2>
        </div>
      </a>
    </div>
        <div class="row">
          <div class="section-content col-sm-12">
          <h2 class="page-title col-sm-12 text-center">PRESENT ?</h2>

          </div>
        </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
