body {
  font-family: 'Source Serif Pro', serif;
  background-color: #4A4A4A;
}

body #signuphere {
  text-align: center;
}

body p, h1, h2, h3, h4, a {
  color: white;
}

body label {
  color: white;
}

#tablz tr {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.navimg {
  background-image: url("http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png");
  width: 400px;
  height: 50px;
  z-index: 5;
}

button {
  align-items: center;
}


#signuphere {
  text-align: center;
}

.hand-wave {
  width: 100px;
  height: 100px;
}
/* waving hand */
.hand-wave img {
  padding: 20px;

  /* position: absolute; */
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -70px;
-webkit-transform: rotate(-40deg);
-moz-transform: rotate(-40deg);
-o-transform: rotate(-40deg);
-ms-transform: rotate(-40deg);
transform: rotate(-40deg);
-webkit-animation: wink 1s alternate infinite; /* Safari 4+ */
  -moz-animation:    wink .7s alternate infinite; /* Fx 5+ */
  -o-animation:      wink .7s alternate infinite; /* Opera 12+ */
  animation:         wink .7s alternate infinite; /* IE 10+, Fx 29+ */
-webkit-transform-origin: 50% 100%;
-moz-transform-origin: 50% 100%;
-o-transform-origin: 50% 100%;
-ms-transform-origin: 50% 100%;
transform-origin: 50% 100%;
-webkit-animation-timing-function: ease; /* Chrome, Safari, Opera */
animation-timing-function: ease;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes wink {
    0% {-webkit-transform: rotate(-40deg);
-moz-transform: rotate(-40deg);
-o-transform: rotate(-40deg);
-ms-transform: rotate(-40deg);
}

100% {-webkit-transform: rotate(40deg);
-moz-transform: rotate(40deg);
-o-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);}
}

/* Standard syntax */
@keyframes wink {
    0% {-webkit-transform: rotate(-40deg);
-moz-transform: rotate(-40deg);
-o-transform: rotate(-40deg);
-ms-transform: rotate(-40deg);
transform: rotate(-40deg);
}

100% {-webkit-transform: rotate(40deg);
-moz-transform: rotate(40deg);
-o-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);}
